* {
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

#header-img {}

#nar-bar {
    display: flex;
}

#nar-bar a {
    margin: 30px;
    text-decoration: none;
    color: black;
}

#header-img img {
    width: 286px;
    height: 35px;
}

#hero {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#form {
    text-align: center;
    margin: auto;
}

#form #email {
    margin-top: 20px;
    width: 276px;
    height: 31px;
    padding-left: 10px;
}

#form #submit {
    font-weight: bold;
    margin-top: 20px;
    width: 150px;
    height: 31px;
    background-color: orange;
    border: 0px solid orange;
}

#features {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flow {
    display: flex;
    align-self: center;
    width: 992px;
    justify-content: space-between;
}

.content {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
}

.icon {
    height: 127px;
    width: 110px;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

#How-it-works {
    margin-top: 80px;
    text-align: center;
}

#Pricing {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pricing-form {
    margin: 30px;
    font-size: 20px;
    border: 1px solid;
    width: 300px;
}

.pricing-form table {
    display: table-block;
    margin: auto;
    width: 298px;
    border: 0px solid;
}

.pricing-form tr {
    text-align: center;
    height: 40px;
}

.pricing-form th {
    background-color: rgb(207, 207, 207);
    display: table-block;
}

.pricing-form input {
    width: 110px;
    border: 0px solid;
    background: orange;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pricing-form .paid {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

#footer {
    background: rgb(219, 214, 214);
}

.mainFoot {
    float: right;
}

.top {
    text-align: right;
    padding-top: 15px;
}

.top a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.top a:hover {
    text-decoration: none;
    color: black;
}

.bottom {
    padding-bottom: 15px;
    opacity: 0.5;
}